{%- import "include/macros.yaml.j2" as macros -%}
---
presets:
  default:
    tags:
      hidden:
        - [base_types, magic]
        - [base_types, normal]
      visible:
        - [artifacts, garbage]
  endgame: &endgame
    tags: &endgame_tags
      hidden: &endgame_tags_hidden
        - garbage
        {{- macros.set_preset_quantile_tags(hidden=True)|indent(8) }}
        - [currencies, shards, QU3]
      visible: &endgame_tags_visible
        - [artifacts, garbage]
        - [fragments, simulacrum]
        - [fragments, breach, 'breach:chayula']
        - [fragments, 'stacks:5']
        {{- macros.set_preset_quantile_tags(hidden=False)|indent(8) }}
    replace:
      garbage: [garbage, endgame]
  nemesis:
    <<: *endgame
    tags:
      <<: *endgame_tags
      visible:
        - [artifacts, garbage]
        - [fragments, simulacrum]
        - [fragments, breach, 'breach:chayula']
        - [fragments, 'stacks:5']
        - [scarabs, 'stacks:5']
        {{- macros.set_preset_quantile_tags(hidden=False)|indent(8) }}
styles:
  # Styles define shared actions across multiple rules. Styles can be
  # explicitly referenced by name within rules, or define the tags
  # they apply to.
  default:
    actions:
      SetFontSize: 45
      DisableDropSound: true
  non_economy:
    actions:
      SetFontSize: 35
  quest_items:
    actions:
      MinimapIcon: [0, Green, Hexagon]
      SetBackgroundColor: green
      SetBorderColor: white
      SetTextColor: white
    tags:
      - quest_items
  currencies:
    actions:
      MinimapIcon:
        - 2
        - {{ nearest_named_color(options.colormaps.currencies.name, "QU2") }}
        - Circle
    tags:
      - artifacts
      - currencies
      - fragments
      - scarabs
      - watchstones
  currencies.stacks:
    actions:
      MinimapIcon:
        - 2
        - {{ nearest_named_color(options.colormaps.currencies.name, "QU3") }}
        - Circle
    tags:
      - [currencies, stacks]
      - [fragments, stacks]
      - [scarabs, stacks]
  currencies.extremely_valuable:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.currencies.name, "QU4") }}
        - Star
      PlayEffect: {{ nearest_named_color(options.colormaps.currencies.name, "QU4") }}
    tags:
      - [currencies, QU4]
      - [fragments, QU4]
      - [scarabs, QU4]
  artifacts:
    actions:
      MinimapIcon:
        - 2
        - {{ nearest_named_color(options.colormaps.artifacts.name, "QU1") }}
        - Moon
    tags:
      - artifacts
  artifacts.extremely_valuable:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.artifacts.name, "QU4") }}
        - Moon
      PlayEffect: {{ nearest_named_color(options.colormaps.artifacts.name, "QU4") }}
    tags:
      - [artifacts, notts, QU4]
  artifacts.stacks:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.artifacts.name, "QU3") }}
        - Moon
    tags:
      - [artifacts, notts, stacks]
  vials:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.uniques.name, "QU3") }}
        - Raindrop
    tags:
      - vials
  vials.extremely_valuable:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.uniques.name, "QU4") }}
        - Raindrop
      PlayEffect: {{ nearest_named_color(options.colormaps.uniques.name, "QU4") }}
    tags:
      - [vials, QU4]
  six_sockets:
    actions:
      MinimapIcon:
        - 2
        - {{ nearest_named_color(options.colormaps.base_types.name, "QU3") }}
        - Hexagon
    tags:
      - six_sockets
  six_links:
    actions:
      MinimapIcon:
        - 1
        - {{ nearest_named_color(options.colormaps.base_types.name, "QU4") }}
        - Hexagon
    tags:
      - six_links
  uniques:
    actions:
      MinimapIcon:
        - 1
        - {{ nearest_named_color(options.colormaps.uniques.name, "QU1") }}
        - Star
    tags:
      - unique
  uniques.extremely_valuable:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.uniques.name, "QU4") }}
        - Star
      PlayEffect: {{ nearest_named_color(options.colormaps.uniques.name, "QU4") }}
    tags:
      - [unique, extremely_valuable]
  maps:
    actions:
      MinimapIcon:
        - 2
        - {{ nearest_named_color(options.colormaps.maps.name, "QU1") }}
        - Square
    tags:
      - maps
  maps.valuable:
    actions:
      MinimapIcon:
        - 1
        - {{ nearest_named_color(options.colormaps.maps.name, "QU3") }}
        - Square
    tags:
      - [maps, QU3]
      - [maps, QU4]
  maps.extremely_valuable:
    actions:
      MinimapIcon:
        - 0
        - {{ nearest_named_color(options.colormaps.maps.name, "QU4") }}
        - Square
      PlayEffect: {{ nearest_named_color(options.colormaps.maps.name, "QU4") }}
    tags:
      - [maps, QU4]
  # Note that order is important when defining styles, as they are
  # applied in order of definition, allowing for overriding rules, much
  # like the standard item filter behavior.
  garbage:
    actions:
      DisableDropSound: true
      CustomAlertSound: 'None'
      MinimapIcon: -1
      SetFontSize: 25
    tags:
      - garbage
      {{- macros.set_preset_quantile_tags(hidden=True)|indent(6) }}
  garbage.endgame:
    actions:
      SetFontSize: 25
    tags:
      - [garbage, endgame]
  gear.rares:
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.base_types, 10, 20) }}
    tags:
      - [base_types, rares]
  {# overrides.artifacts:
    actions:
      MinimapIcon: [1, Grey, Moon]
      SetFontSize: 40
    tags:
      - [artifacts, QU1]
      - [artifacts, QU2]
      - [artifacts, QU3]
      - [artifacts, QU4] #}
  overrides.currencies:
    actions:
      SetFontSize: 45
    tags:
      - [fragments, emblem]
      - [fragments, key]
      - [fragments, scarab]
      - [fragments, splinter]
      - [fragments, stacks]
      - [fragments, vessel]
      - currencies
      - delirium_orbs
      - scrolls
rules:
  # Portal and Wisdom scrolls
  - conditions:
      BaseType:
        - Portal Scroll
        - Scroll Fragment
        - Scroll of Wisdom
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.base_types, 20, 20) }}
    tags: [currencies, garbage, scrolls]

  # Invitations
  {%- for index, row in ctx.data.invitations.iterrows(): %}
  - name: "Invitations - {{ row.item_name }}"
    conditions:
      BaseType: "{{ row.item_name }}"
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.maps, row.chaos_value) }}
    tags:
      - maps
      - invitations
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.maps,
          ctx_key="invitations",
      ) }}
  {%- endfor %}

  # Blighted maps
  {%- for index, row in ctx.data.blighted_maps.iterrows(): %}
  - conditions:
      Class: Maps
      BlightedMap: true
      BaseType: {{ row.item_name.replace("Blighted ", "") }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.blighted_maps, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, "blighted map", options.thresholds.blighted_maps) }}
    tags:
      - maps
      - blighted_maps
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.blighted_maps,
          ctx_key="blighted_maps",
      ) }}
  {%- endfor %}

  # Maps - grouped by tier >= 14 and chaos value quantile
  # XXX: poe.ninja doesn't currently provide data for influenced maps
  {%- for group, rows in ctx.data.maps.query(
        "map_tier >= 14").groupby(["map_tier", "quintile", "uber_blight"]): -%}
  {%- set min_value = rows["chaos_value"].min() %}
  - conditions:
      Class: Maps
      BaseType:
        {%- for index, row in rows.iterrows(): %}
        {%- set base_type = (
              row.base_type[15:]
              if row.uber_blight
              else row.base_type
        ) %}
        - '{{ base_type }}'
        {%- endfor %}
      MapTier: '{{ group[0]|int }}'
      {%- if rows.iloc[0].uber_blight: %}
      UberBlightedMap: true
      {%- endif %}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.maps, min_value) }}
      CustomAlertSound: '{{
        tts("tier {} {}".format(
          group[0]|int,
          ctx.get_display_value(min_value),
        ))
      }}'
    tags:
      - maps
  {%- endfor %}

  # Maps - grouped by tier 1-14
  {%- for map_tier in range(1, 16): -%}
  {%- set bg = options.colormaps.maps_tiered.pick(map_tier) %}
  - conditions:
      Class: Maps
      MapTier: '{{ map_tier|int }}'
      AreaLevel:
        '<=': '{{ 57 + map_tier|int }}'
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.maps_tiered, map_tier, 16) }}
    tags:
      - maps
      - non_economy
  {%- endfor %}

  {%- for map_tier in range(1, 14): %}
  - conditions:
      Class: Maps
      MapTier: '{{ map_tier|int }}'
      AreaLevel:
        '>': '{{ 57 + map_tier|int }}'
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.maps_tiered, map_tier, 14) }}
    tags:
      - maps
      - non_economy
      - garbage
  {%- endfor %}

  # Delirium Orbs
  {%- for index, row in ctx.data.delirium_orbs.iterrows(): -%}
  {%- for op, stack_size in iter_stacks(1, 5): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.delirium_orbs, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.delirium_orbs, stack_size=stack_size) }}
    tags:
      - delirium_orbs
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.delirium_orbs,
            stack_size=stack_size,
            ctx_key="delirium_orbs",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  # Essences
  {%- for index, row in ctx.data.essences.iterrows(): -%}
  {%- for op, stack_size in iter_stacks(1, 5): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.essences, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.essences) }}
    tags:
      - essences
      {%- if stack_size > 1: %}
      - stacks
      {%- endif %}
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.essences,
            stack_size=stack_size,
            ctx_key="essences",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  # Fossils
  {%- for index, row in ctx.data.fossils.iterrows(): -%}
  {%- for op, stack_size in iter_stacks(1, 5): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.fossils, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.fossils) }}
    tags:
      - fossils
      {%- if stack_size > 1: %}
      - stacks
      {%- endif %}
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.fossils,
            stack_size=stack_size,
            ctx_key="fossils",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  # Resonators
  {%- for index, row in ctx.data.resonators.iterrows(): -%}
  {%- for op, stack_size in iter_stacks(1, 5): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Delve Stackable Socketable Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.fossils, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.fossils) }}
    tags:
      - resonators
      {%- if stack_size > 1: %}
      - stacks
      {%- endif %}
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.fossils,
            stack_size=stack_size,
            ctx_key="resonators",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  # Divination cards
  {%- set div_topk, div_show, div_hide = options.thresholds.divination_cards.get_tiered_results(ctx.data.divination_cards) -%}
  {%- for index, row in div_topk.iterrows(): %}
  - conditions:
      Class: Divination
      BaseType: {'==': "{{ row.item_name }}"}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.divination_cards, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.divination_cards) }}
    tags:
      - div_cards
      - divination_cards
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.divination_cards,
            ctx_key="divination_cards",
      ) }}
  {%- endfor %}

  {%- for index, row in div_show.iterrows(): %}
  {%- for op, stack_size in iter_stacks(1, 5): %}
  - conditions:
      Class: Divination
      BaseType: {'==': "{{ row.item_name }}"}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.divination_cards, row.chaos_value) }}
      {{- macros.set_tts_alertsound(
            row,
            name="Divination Card",
            thresholds=options.thresholds.divination_cards,
      ) }}
    tags:
      - div_cards
      - divination_cards
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.divination_cards,
            stack_size=stack_size,
            ctx_key="divination_cards",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  - conditions:
      Class: Divination
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.divination_cards, 1, vmax=20) }}
    tags:
      - div_cards
      - divination_cards
      {{- macros.set_tags(
            div_hide.chaos_value.min(),
            thresholds=options.thresholds.divination_cards,
            ctx_key="divination_cards",
      ) }}

  # Skill gems - topk
  {%- set gems_topk, gems_show, gems_hide = options.thresholds.skill_gems.get_tiered_results(ctx.data.skill_gems) -%}
  {%- for index, row in gems_topk.iterrows(): %}
  - name: "Skill gems: {{ row.item_name }} {{ row.gem_level|int }}/{{ row.gem_quality|int }}"
    conditions:
      Class: Gems
      {%- if row.is_alt_quality: %}
      GemQualityType: {{ row.alt_quality }}
      {%- endif %}
      BaseType: {'==': "{{ normalize_skill_gem_name(row.item_name) }}"}
      {%- if row.gem_quality > 0: %}
      Quality: {'>=': '{{ row.gem_quality|int }}'}
      {%- endif %}
      GemLevel: {'>=': '{{ row.gem_level|int }}'}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.skill_gems, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.skill_gems) }}
    tags:
      - skill_gems
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.skill_gems,
          ctx_key="skill_gems",
      ) }}
  {%- endfor %}

  # Skill gems - all others
  {%- for group, df in gems_show.groupby(["gem_level", "gem_quality", "alt_quality"]): -%}
  {%- set gem_level, gem_quality, alt_quality = group -%}
  {%- for percentile, df_ in df.groupby("percentile"): %}
  - name: "Skill gems: P{{ percentile }} {{ gem_level|int }}/{{ gem_quality|int }}"
    conditions:
      Class: Gems
      {%- if alt_quality: %}
      GemQualityType: {{ alt_quality }}
      {%- endif %}
      BaseType:
        '==':
          {%- for index, row in df_.iterrows(): %}
          - "{{ row.item_name }}"
          {%- endfor %}
      {%- if gem_quality > 0: %}
      Quality: {'>=': '{{ gem_quality|int }}'}
      {%- endif %}
      GemLevel: {'>=': '{{ gem_level|int }}'}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.skill_gems, df.chaos_value.mean()) }}
      {{ macros.set_tts_alertsound_range(
            "skill gem",
            df_.chaos_value.min(),
            df_.chaos_value.max(),
      ) }}
    tags:
      - skill_gems
      {%- for tag in options.thresholds.skill_gems.get_tags(df_, ctx=ctx, ctx_key="skill_gems"): %}
      - {{ tag }}
      {%- endfor %}
  {%- endfor %}
  {%- endfor %}

  - conditions:
      Class: Gems
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.skill_gems, 1, vmax=20) }}
    tags:
      - skill_gems
      - garbage

  # Currencies - Perandus
  - conditions:
      StackSize: {'>=': 15}
      Class: Currency
      BaseType: Perandus Coin
    tags:
      - currencies

  - conditions:
      Class: Currency
      BaseType: Perandus Coin
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.currencies, 1) }}
    tags:
      - currencies
      - garbage

  # Currencies - Prophecies
  {%- set proph_topk, proph_show, _ = options.thresholds.prophecies.get_tiered_results(ctx.data.prophecies) -%}
  {%- for index, row in proph_topk.iterrows(): %}
  - conditions:
      Class: Currency
      BaseType: {'==': Prophecy}
      Prophecy: {'==': "{{ row.item_name }}"}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.prophecies, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.prophecies) }}
    tags:
      - prophecies
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.prophecies,
          ctx_key="prophecies",
      ) }}
  {%- endfor %}

  {%- for percentile, df in proph_show.groupby("percentile"): %}
  - conditions:
      Class: Currency
      BaseType: {'==': Prophecy}
      Prophecy:
        '==':
          {%- for index, row in df.iterrows(): %}
          - "{{ row.item_name }}"
          {%- endfor %}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.prophecies, df.chaos_value.mean()) }}
      {{ macros.set_tts_alertsound_range(
            "prophecy",
            df.chaos_value.min(),
            df.chaos_value.max(),
      ) }}
    tags:
      - prophecies
      {%- for tag in options.thresholds.prophecies.get_tags(df, ctx=ctx, ctx_key="prophecies"): %}
      - {{ tag }}
      {%- endfor %}
  {%- endfor %}

  - conditions:
      Class: Currency
      BaseType: {'==': Prophecy}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.prophecies, 1, vmax=20) }}
    tags:
      - prophecies
      - garbage

  - conditions:
      Class: Currency
      BaseType: Prophecy
    tags:
      - prophecy

  - conditions:
      Class: Currency
      BaseType: Perandus Coin
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.currencies, 1) }}
    tags:
      - currencies
      - garbage

  # Currencies - chaos orbs, each stack size
  {%- for op, stack_size in iter_stacks(1, 10): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Currency
      BaseType: Chaos Orb
    actions:
      {{ macros.set_colors_from_colormap(
          options.colormaps.currencies,
          stack_size,
          lum_threshold=0.75,
      ) }}
      CustomAlertSound: '{{ tts(
        "Chaos Orb {}".format(
          ctx.get_display_value(stack_size)
        )
      ) }}'
    tags:
      - currencies
      - chaos
      {%- if stack_size > 1: %}
      - stacks
      {%- endif %}
  {%- endfor %}

  # Expedition Artifacts
  {%- set artifacts_topk, artifacts_show, _ = options.thresholds.artifacts.get_tiered_results(ctx.data.artifacts) -%}
  {%- for index, row in artifacts_topk.iterrows(): %}
  {%- for op, stack_size in iter_stacks(1, 30): %}
  - conditions:
      StackSize: { '{{ op }}': "{{ stack_size }}" }
      Class: Currency
      BaseType: {'==': "{{ row.item_name }}"}
    actions:
      {{ macros.set_colors_from_colormap(
            options.colormaps.artifacts,
            row.chaos_value * stack_size,
            lum_threshold=0.45,
      ) }}
      {{- macros.set_tts_alertsound(
            row,
            thresholds=options.thresholds.artifacts,
            stack_size=stack_size
      ) }}
    tags:
      - artifacts
      - stacks
      {%- if options.thresholds.artifacts.check_visibility(row): %}
      - notts
      {%- endif %}
      {{- macros.set_tags(
            row,
            thresholds=options.thresholds.artifacts,
            stack_size=stack_size,
            ctx_key="artifacts",
      ) }}
  {%- endfor %}
  {%- endfor %}

  {%- for percentile, df in artifacts_show.groupby("percentile"): %}
  {%- for op, stack_size in iter_stacks(1, 30): %}
  - conditions:
      StackSize: { '{{ op }}': "{{ stack_size }}" }
      Class: Currency
      BaseType:
        '==':
          {%- for index, row in df.iterrows(): %}
          - "{{ row.item_name }}"
          {%- endfor %}
    actions:
      {{ macros.set_colors_from_colormap(
            options.colormaps.artifacts,
            df.chaos_value.min() * stack_size,
      ) }}
      {{ macros.set_tts_alertsound_range(
            "artifact",
            df.chaos_value.min() * stack_size,
            df.chaos_value.max() * stack_size,
      ) }}
    tags:
      - artifacts
      {%- for tag in options.thresholds.artifacts.get_tags(df, ctx=ctx, ctx_key="artifacts"): %}
      - {{ tag }}
      {%- endfor %}
  {%- endfor %}
  {%- endfor %}

  - conditions:
      Class: Currency
      BaseType: Artifact
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.artifacts, 1, vmax=20) }}
    tags:
      - artifacts
      - garbage

  # Currencies - uncategorized league-specific
  - conditions:
      BaseType:
        - Enkindling Orb
        - Instilling Orb
        - Ritual Splinter
    actions:
      {{ macros.set_colors_from_colormap(
            options.colormaps.currencies,
            1,
            lum_threshold=0.45,
      ) }}
    tags:
      - currencies

  # Currencies - all others, singular and stacked
  {%- for index, row in ctx.data.currencies.iterrows(): %}
  {%- for op, stack_size in iter_stacks(1, 10): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(
          options.colormaps.currencies,
          row.chaos_value * stack_size,
          lum_threshold=0.75,
      ) }}
      {{- macros.set_tts_alertsound(
            row,
            thresholds=options.thresholds.currencies,
            stack_size=stack_size
      ) }}
      {# {{- macros.set_tts_alertsound(
          row,
          thresholds=options.thresholds.currencies,
          stack_size=stack_size
      ) }} #}
    tags:
      - currencies
      {%- if row.item_name.endswith("Shard"): %}
      - shards
      {%- endif -%}
      {{- macros.set_tags(
          row if not row.item_name.endswith("Shard") else row.chaos_value,
          thresholds=options.thresholds.currencies,
          stack_size=stack_size,
          ctx_key="currencies",
      ) }}
  {%- endfor %}
  {%- endfor %}

  # Vials
  {%- for index, row in ctx.data.vials.iterrows(): %}
  - conditions:
      Class: Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(
          options.colormaps.currencies,
          row.chaos_value,
          lum_threshold=0.75,
      ) }}
    tags:
      - vials
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.vials,
          ctx_key="vials",
      ) }}
  {%- endfor %}

  # Oils
  {%- for index, row in ctx.data.oils.iterrows(): -%}
  {%- for op, stack_size in iter_stacks(1, 10): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Currency
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.oils, row.chaos_value) }}
      {{- macros.set_tts_alertsound(
          row,
          thresholds=options.thresholds.oils,
          stack_size=stack_size,
      ) }}
    tags:
      - oils
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.oils,
          stack_size=stack_size,
          ctx_key="oils",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  # Scarabs
  {%- for index, row in ctx.data.scarabs.iterrows(): -%}
  {%- for op, stack_size in iter_stacks(1, 10): %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class: Map Fragments
      BaseType: {'==': "{{ row.item_name }}"}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.fragments, row.chaos_value) }}
      {{- macros.set_tts_alertsound(
          row,
          thresholds=options.thresholds.scarabs,
          stack_size=stack_size,
      ) }}
    tags:
      - scarabs
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.scarabs,
          stack_size=stack_size,
          ctx_key="scarabs",
      ) }}
  {%- endfor -%}
  {%- endfor %}

  # Fragments
  {# - conditions:
      Class:
        - Currency
        - Map Fragments
      BaseType: "Splinter of Chayula"
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.fragments, 5, vmax=20) }}
    tags:
      - fragments #}

  {% for index, row in ctx.data.fragments.iterrows(): -%}
  {% if (
      "Emblem" in row.item_name
      or "Fragment" in row.item_name
      or "Mortal" in row.item_name
      or "Offering" in row.item_name
      or "Sacrifice" in row.item_name
      or "Splinter" in row.item_name
  ): %}
  {%- for op, stack_size in iter_stacks(1, 10): %}
  {%- set chaos_value = row.chaos_value * stack_size %}
  - conditions:
      StackSize: { '{{op}}': {{stack_size}} }
      Class:
        - Currency
        - Map Fragments
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.fragments, chaos_value) }}
      {{- macros.set_tts_alertsound(row, stack_size=stack_size) }}
    tags:
      - fragments
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.fragments,
          stack_size=stack_size,
          ctx_key="fragments",
      ) }}
  {%- endfor %}
  {% else: %}
  - conditions:
      Class:
        {%- if row.item_name != "Simulacrum": %}
        - Currency
        {%- endif %}
        - Map Fragments
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.fragments, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.fragments) }}
    tags:
      - fragments
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.fragments,
          ctx_key="fragments",
      ) }}
  {% endif %}
  {%- endfor %}

  # Incubators
  {% for index, row in ctx.data.incubators.iterrows(): %}
  - conditions:
      BaseType: {{ row.item_name }}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.incubators, row.chaos_value) }}
      {{- macros.set_tts_alertsound(row, thresholds=options.thresholds.incubators) }}
    tags:
      - incubators
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.incubators,
          ctx_key="incubators",
      ) }}
  {%- endfor %}

  # Watchstones
  # XXX: craftable watchstones not indexed by poe.ninja yet
  - conditions:
      BaseType: Watchstone
    actions:
      CustomAlertSound: '{{ tts("watchstone") }}'
    tags:
      - watchstones
      - quest_items

  - conditions:
      BaseType:
        - Golden Key
        - Treasure Key
    tags:
      - quest_items

  - conditions:
      Class:
        - Incursion Item
        - Pantheon Soul
        - Quest
    actions:
      CustomAlertSound: '{{ tts("quest item") }}'
    tags:
      - quest_items

  # TODO: Rank by region
  - conditions:
      BaseType: &AllRegionalWatchstones
        - Glennach Cairns Watchstone
        - Haewark Hamlet Watchstone
        - Lex Ejoris Watchstone
        - Lex Proxima Watchstone
        - Lira Arthain Watchstone
        - New Vastir Watchstone
        - Tirn's End Watchstone
        - Valdo's Rest Watchstone
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.watchstones, 1, vmax=20) }}
    tags:
      - watchstones

  # Expedition - logbooks
  - conditions:
      BaseType: Expedition Logbook
      ItemLevel: {'>=': '81'}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.maps, 20, vmax=20) }}
      CustomAlertSound: '{{ tts("logbook") }}'
    tags: [maps, expedition]

  - conditions:
      BaseType: Expedition Logbook
      ItemLevel: {'<': '81'}
    tags: [maps, expedition, garbage]

  # Heist - contracts and blueprints
  # XXX: pull contract/blueprint mean chaos values from TFT
  - conditions:
      Class: ['Blueprint', 'Contract']
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.maps, 1, vmax=20) }}
    tags: [maps, heist]

  # Heist - currencies
  - conditions:
      Class: Currency
      BaseType: Rogue's Marker
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.currencies, 1, vmax=20) }}
      CustomAlertSound: '{{ tts("Rogue's Marker") }}'
    tags: [currencies, heist]

  # Heist - items
  - conditions:
      Class:
        - Heist Brooch
        - Heist Cloak
        - Heist Gear
        - Heist Tool
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.base_types, 1, vmax=20) }}
    tags: [heist]

  # Uniques - accessories
  {{ macros.multi_base_type_by_quantile(
      ctx_key="unique_accessories",
      thresholds=options.thresholds.uniques,
      conditions={"Rarity": "Unique"},
      groups=["base_type", "level_required"],
      tags=["unique", "accessories"],
      tts_phrase="unique accessory",
    ) }}

  # Uniques - armor
  {{ macros.multi_base_type_by_quantile(
      ctx_key="unique_armours",
      thresholds=options.thresholds.uniques,
      conditions={"Rarity": "Unique"},
      groups=["base_type", "level_required"],
      tags=["unique", "armor"],
      tts_phrase="unique armor",
    ) }}

  # Uniques - flasks
  {{ macros.multi_base_type_by_quantile(
      ctx_key="unique_flasks",
      thresholds=options.thresholds.uniques,
      conditions={"Rarity": "Unique"},
      groups=["base_type", "level_required"],
      tags=["unique", "flasks"],
      tts_phrase="unique flask",
    ) }}

  # Uniques - jewels
  {{ macros.multi_base_type_by_quantile(
      ctx_key="unique_jewels",
      thresholds=options.thresholds.uniques,
      conditions={"Rarity": "Unique"},
      groups=["base_type", "level_required"],
      tags=["unique", "jewels"],
      tts_phrase="unique jewel",
    ) }}

  # Uniques - maps
  {{ macros.multi_base_type_by_quantile(
      ctx_key="unique_maps",
      thresholds=options.thresholds.uniques,
      groups=["map_tier"],
      conditions={"Rarity": "Unique"},
      tags=["unique", "maps"],
      tts_phrase="unique map",
    ) }}

  # Uniques - weapons
  {{ macros.multi_base_type_by_quantile(
      ctx_key="unique_weapons",
      thresholds=options.thresholds.uniques,
      query="(links < 6)",
      groups=["base_type", "level_required"],
      conditions={"Rarity": "Unique"},
      tags=["unique", "weapons"],
      tts_phrase="unique weapon",
    ) }}

  # Uniques (catch-all)
  - conditions:
      Rarity: 'Unique'
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.uniques, 1, vmax=20) }}
    tags:
      - unique
      - garbage

  # Cluster jewels
  {%- set clusters_topk, clusters_show, _ = options.thresholds.cluster_jewels.get_tiered_results(ctx.data.cluster_jewels) -%}
  {%- for index, row in clusters_topk.iterrows(): %}
  {# {%- if row.cluster_jewel_enchantment: %} #}
  - conditions:
      {%- if row.level_required: %}
      ItemLevel: {'>=': '{{ row.level_required|int }}'}
      {%- endif %}
      Rarity: {'<=': Rare}
      EnchantmentPassiveNode: {'==': '{{ row.cluster_jewel_enchantment }}'}
      EnchantmentPassiveNum: {'==': '{{ row.cluster_jewel_passives }}'}
    actions:
      {{ macros.set_colors_from_colormap(
            options.colormaps.cluster_jewels,
            row.chaos_value,
      ) }}
      {{- macros.set_tts_alertsound(
            row,
            "Cluster Jewel",
            thresholds=options.thresholds.cluster_jewels,
      ) }}
    tags:
      - cluster_jewels
      {{- macros.set_tags(
          row,
          thresholds=options.thresholds.cluster_jewels,
          ctx_key="cluster_jewels",
      ) }}
  {# {%- endif %} #}
  {%- endfor %}

  {% for group, df in clusters_show.groupby([
        "cluster_jewel_passives",
        "cluster_jewel_enchantment",
        "level_required"]): %}
  {%- set cluster_jewel_passives, cluster_jewel_enchantment, level_required = group -%}
  - conditions:
      ItemLevel: {'>=': '{{ level_required|int }}'}
      Rarity: {'<=': Rare}
      EnchantmentPassiveNode: {'==': '{{ cluster_jewel_enchantment }}'}
      EnchantmentPassiveNum: {'==': '{{ cluster_jewel_passives }}'}
    actions:
      {{ macros.set_colors_from_colormap(
            options.colormaps.cluster_jewels,
            df.chaos_value.mean(),
      ) }}
      {{ macros.set_tts_alertsound_range(
            "cluster jewel",
            df.chaos_value.min(),
            df.chaos_value.max(),
      ) }}
    tags:
      - cluster_jewels
      {%- for tag in options.thresholds.cluster_jewels.get_tags(df, ctx=ctx, ctx_key="cluster_jewels"): %}
      - {{ tag }}
      {%- endfor %}
  {% endfor %}

  - conditions:
      BaseType: Cluster Jewel
      Rarity: {'<=': 'Rare'}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.cluster_jewels, 1, vmax=20) }}
    tags:
      - cluster_jewels
      - garbage

  # Double corrupted jewels
  - conditions:
      BaseType:
        - Cobalt Jewel
        - Crimson Jewel
        - Viridian Jewel
      Corrupted: true
      CorruptedMods: {'>=': '2'}
      Rarity: {'>=': Rare}
    tags:
      - double_corrupted
      - jewels
      - valuable

  # Six-linked items (divine recipe)
  - conditions:
      LinkedSockets: 6
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.currencies, 20, 20) }}
      CustomAlertSound: '{{ tts("six link") }}'
    tags:
      - six_sockets
      - six_links

  # Six-socket items (jeweller's orb recipe)
  - conditions:
      Sockets: 6
      Rarity: {'<=': Rare}
    actions:
      {{ macros.set_colors_from_colormap(options.colormaps.currencies, 1, 20) }}
      CustomAlertSound: '{{ tts("six socket") }}'
    tags:
      - six_sockets

  # Influenced base items
  {{ macros.multi_base_type_by_quantile(
      ctx_key="base_types",
      thresholds=options.thresholds.base_types,
      query="num_influences == 1",
      conditions={"Rarity": {"<": "Unique"}},
      groups=["level_required", "influences", "percentile"],
      tags=["base_types", "gear"],
      tts_phrase="influenced base",
    ) }}

  {%- set garbage_color = options.colormaps.base_types.pick(1, 20) -%}
  {%- set flask_color = options.colormaps.flasks.pick(1, 20) -%}
  {%- set life_flask_color = options.colormaps.life_flasks.pick(1, 20) -%}
  {%- set mana_flask_color = options.colormaps.mana_flasks.pick(1, 20) -%}
  # Flasks
  - conditions:
      Class: Life Flask
      Rarity: {'<': Unique}
    actions:
      SetBackgroundColor: '{{ life_flask_color.hex }}'
      SetBorderColor: '{{ text_color(life_flask_color) }}'
      SetTextColor: '{{ text_color(life_flask_color) }}'
    tags: [flask, garbage, early_league]

  - conditions:
      Class: Mana Flask
      Rarity: {'<': Unique}
    actions:
      SetBackgroundColor: '{{ mana_flask_color.hex }}'
      SetBorderColor: '{{ text_color(mana_flask_color) }}'
      SetTextColor: '{{ text_color(mana_flask_color) }}'
    tags: [flask, garbage, early_league]

  - conditions:
      Class: Flask
      Rarity: {'<': Unique}
    actions:
      SetBackgroundColor: '{{ flask_color.hex }}'
      SetBorderColor: '{{ text_color(flask_color) }}'
      SetTextColor: '{{ text_color(flask_color) }}'
    tags: [flask, garbage, early_league]

  - conditions:
      Class: &AllGearClasses
        - Amulets
        - Belts
        - Body Armour
        - Boots
        - Bows
        - Claws
        - Daggers
        - Flask
        - Gloves
        - Helmets
        - Jewel
        - One Hand
        - Quivers
        - Rings
        - Rune Dagger
        - Sceptre
        - Shields
        - Staves
        - Two Hand
        - Wand
        - Warstaves
      Rarity: {'=': Rare}
    actions:
      SetBackgroundColor: '{{ garbage_color.hex }}'
      SetBorderColor: '{{ text_color(garbage_color) }}'
      SetTextColor: '{{ text_color(garbage_color) }}'
    tags: [base_types, gear, garbage, rares]

  - conditions:
      Class: *AllGearClasses
      Rarity: {'=': Magic}
    actions:
      SetBackgroundColor: '{{ garbage_color.hex }}'
      SetBorderColor: '{{ text_color(garbage_color) }}'
      SetTextColor: '{{ text_color(garbage_color) }}'
    tags: [base_types, gear, garbage, magic]

  - conditions:
      Class: *AllGearClasses
      Rarity: {'=': Normal}
    actions:
      SetBackgroundColor: '{{ garbage_color.hex }}'
      SetBorderColor: '{{ text_color(garbage_color) }}'
      SetTextColor: '{{ text_color(garbage_color) }}'
    tags: [base_types, gear, garbage, normal]
